shell/.config/fish/fish_variables
shell/.config/fish/fishd.*
emacs/.gnupg/pubring.kbx
emacs/.gnupg/trustdb.gpg
emacs/.gnupg/crls.d
emacs/.gnupg/*
emacs/.doom.d/secrets.json
emacs/.doom.d/custom.el
X/.config/autokey/autokey.json
X/.config/xmobar/xmobar
X/.config/xmobar/*.hi
X/.config/xmobar/*.o
X/.xmonad/xmonad-x86_64-linux
X/.xmonad/xmonad.errors
X/.xmonad/*.hi
X/.xmonad/*.o
X/.xmonad/xmonad
X/.xmonad/xmobar
*~
__pycache__
X/.config/gtk-3.0/bookmarks
