emacs/.gnupg/pubring.kbx
emacs/.gnupg/trustdb.gpg
emacs/.gnupg/crls.d
emacs/.gnupg/*
X/.config/autokey/autokey.json
X/.config/xmobar/xmobar
X/.config/xmobar/*.hi
X/.config/xmobar/*.o
X/.xmonad/xmonad-x86_64-linux
X/.xmonad/xmonad.errors
X/.xmonad/*.hi
X/.xmonad/*.o
X/.xmonad/xmonad
X/.xmonad/xmobar
*~
