[submodule ".config/awesome/awesome-wm-widgets"]
	path = .config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "/home/cderose/.local/share/omf"]
	path = /home/cderose/.local/share/omf
	url = https://github.com/oh-my-fish/oh-my-fish.git
