#!/usr/bin/bash
# The .xprofile appears to run before awesome, by lightdm, and makes it useful
# for setting environment variables

# if [ $(hostname) == "link" ]; then
#   export GDK_SCALE=2
#   export GDK_DPI_SCALE=0.5
# fi

# We want Telegram to use gtk dialogs:
export TDESKTOP_USE_GTK_FILE_DIALOG=1
export XDG_CURRENT_DESKTOP=gnome

# This *should* apply styling to Telegram..
export QT_QPA_PLATFORMTHEME=qt6ct

