Config {
  -- appearance
    font             =  "xft:Cousine NF:size=12:antialias=true"
  , bgColor          =  "#073642" -- Solarized base02
  , fgColor          =  "#93a1a1" -- Solarized base1
  , alpha            =  255
  , position         =  Top --Static { xpos = 0 , ypos = 0, width = 1920, height = 24}
  , border           =  BottomB
  , borderColor      =  "#002b36" -- Solarized base03
  , lowerOnStart     =  True
  , hideOnStart      =  False
  , allDesktops      =  True
  , overrideRedirect =  False
  , pickBroadest     =  False
  , persistent       =  False
  , sepChar          =  "%"
  , alignSep         =  "}{"
  , template         =  " %UnsafeStdinReader% }{ %cpu% | %memory% / %swap% | %bright% | %pulse:Master% | %battery%          <fc=#2aa198>%date%</fc> " -- solarized cyan

  -- plugins
  commands = [
      Run UnsafeStdinReader
      -- #859900 is green, #dc322f is red:
    , Run Cpu 
      [ "-t", "<action=alacritty --command btop><icon=/home/cderose/.xmonad/icons/cpu.xbm/> <total>%</action>"
        , "-L","3","-H","50","--normal","#859900","--high","#dc322f" ] 10
    , Run BatteryP ["BAT0"]
      [ "-t", "<action=alacritty --command /usr/bin/sudo /usr/bin/powertop><acstatus> <left>%</action>"
        , "-L", "21", "-l", "#dc322f"
        , "-H", "60", "-h", "#859900"
        , "--"
        , "--lows", "<icon=/home/cderose/.xmonad/icons/bat_empty_02.xbm/>"
        , "--mediums", "<icon=/home/cderose/.xmonad/icons/bat_low_02.xbm/>"
        , "--highs", "<icon=/home/cderose/.xmonad/icons/bat_full_02.xbm/>"
        , "-i", "\xf1e6"
        , "-O", " <icon=/home/cderose/.xmonad/icons/ac_01.xbm/>"
        , "-o", " <icon=/home/cderose/.xmonad/icons/ac.xbm/>" ] 100
    , Run Memory 
      [ "--template" ,"<action=alacritty --command btop><icon=/home/cderose/.xmonad/icons/mem.xbm/> <usedratio>%</action>"
      , "--Low"      , "20"        -- units: %
      , "--High"     , "90"        -- units: %
      , "--low"      , "#859900" -- Solarized Green
      , "--normal"   , "#cb4b16" -- Solarized Orange
      , "--high"     , "#dc322f" -- Solarized Red
      ] 10
    , Run Swap ["-t", "<action=alacritty --command btop><icon=/home/cderose/.xmonad/icons/hard_drive.xbm/> <used>%</action>"] 10
    , Run Brightness 
      [ 
      "-t", "<icon=/home/cderose/.xmonad/icons/half.xbm/> <percent>%",
      "--",
      "-D", "/sys/class/backlight/intel_backlight"
      ] 10
    , Run Volume "pulse"  "Master" 
      ["-t", "<action=/usr/bin/pavucontrol><icon=/home/cderose/.xmonad/icons/spkr_01.xbm/> <volume>%</action>"] 1
    , Run Date "%a %b %_d %H:%M" "date" 10
    ]
  }
