Config {
  -- appearance
    font             =  "xft:Ubuntu Nerd Font:size=15:antialias=true"
  , additionalFonts  =  ["xft:Ubuntu Nerd Font Mono:size=15:antialias=true"]
  , bgColor          =  "#ffffff" -- White
  , fgColor          =  "#657b83" -- Solarized Base00
  , alpha            =  255
  , position         =  Top --Static { xpos = 0 , ypos = 0, width = 1920, height = 24}
  , border           =  NoBorder
  -- , borderWidth      =  0
  -- , borderColor      =  "#ff0000"
  , lowerOnStart     =  True
  , hideOnStart      =  False
  , allDesktops      =  True
  , overrideRedirect =  False
  , pickBroadest     =  False
  , persistent       =  False
  , iconRoot         = "/home/cderose/.xmonad/icons/"
  , sepChar          =  "%"
  , alignSep         =  "}{"
  -- #586e75 is base01, #6c71c4 is purple
  , template         =  "<box type=full color=#586e75><fc=#ffffff,#586e75>  </fc></box>%UnsafeStdinReader% }{ %cpu% %multicpu%  %memory% / %swap%  %pulse:Master%  %battery% %traypad% <box type=full color=#6c71c4><fc=#ffffff,#6c71c4> %date% </fc></box>"

  -- plugins
  commands = [
    Run UnsafeStdinReader
    , Run Cpu 
      [ "--template", "<action=alacritty --command btop> <total>%</action>"
      , "-L","10"
      , "-H","70"
      ,"--normal","#657b83"
      ,"--high","red" 
      ] 5
    , Run MultiCpu [
      "--template", "<ipat>"
      , "--"
      , "--load-icon-pattern", "<icon=hbar_%%.xbm/>"
      ] 2
    , Run Memory 
      [ "--template" ,"<action=alacritty --command btop> <usedratio>%</action>"
      , "--Low"      , "20"        -- units: %
      , "--High"     , "60"        -- units: %
      , "--low"      , "#657b83"
      , "--normal"   , "#657b83"
      , "--high"     , "red"
      ] 5
    , Run Swap 
      ["--template", "<action=alacritty --command btop> <usedratio>%</action>"] 5
    -- , Run Brightness 
    --   [ "--template", " <percent>%"
    --   , "--"
    --   , "-D", "/sys/class/backlight/intel_backlight"
    --   ] 5
    , Run Volume "pulse"  "Master" 
      [ "--template", "<action=/usr/bin/pavucontrol><status><volume>%</action>"
      , "--"
      , "-O", ""      -- Status On
      , "-o", " 婢"   -- Status Off
      , "-C", "#657b83" -- Status On Color
      , "-c", "red"   -- Status Off Color
      , "-H", "130"   -- High threshold
      , "-L", "80"    -- Low threshold
      , "-h", ""     -- High string
      , "-m", "墳"    -- Medium string
      , "-l", ""     -- Low string
      ] 5
    , Run BatteryP ["BAT0"]
      [ "--template"
      , "<action=alacritty --command /usr/bin/sudo /usr/bin/powertop><acstatus> <left>%</action>"
      , "--"
      , "-L", "15"       -- Low threshold (percent)
      , "-H", "66"       -- High threshold (percent)
      , "-h", "#657b83"  -- High color
      , "-m", "#657b83"  -- Medium color
      , "-l", "red"      -- Low color
      , "--lows", "<fc=red></fc>"    -- Bat low
      , "--mediums", "" -- Bat Medium
      , "--highs", ""   -- Bat low
      , "-i", "⏼"        -- Charged
      , "-O", "ﮣ"        -- A/C 'on'
      , "-o", "ﮤ"        -- Discharging
      ] 5
    , Run Com "/home/cderose/.xmonad/systraypad.sh" [] "traypad" 10
    , Run Date "%a %b %_d %H:%M" "date" 10
    ]
  }
