Config {
  -- appearance
    font             =  "xft:Ubuntu Nerd Font:size=15:antialias=true"
  , bgColor          =  "#268bd2" -- Solarized blue
  , fgColor          =  "#eeeeee" -- white-ish
  , alpha            =  100
  , position         =  Bottom --Static { xpos = 0 , ypos = 0, width = 1920, height = 24}
  , border           =  TopB
    , borderColor      =  "#002b36" -- Solarized base03
    , lowerOnStart     =  True
    , hideOnStart      =  False
    , allDesktops      =  True
    , overrideRedirect =  False
    , pickBroadest     =  False
    , persistent       =  False
    , iconRoot         = "/home/cderose/.xmonad/icons/"
    , sepChar          =  "%"
    , alignSep         =  "}{"
    , template         =  " %UnsafeStdinReader% }{ %cpu% %multicpu% | %memory% / %swap% | %bright% | %pulse:Master% | %battery% | %traypad% | %date% "

    -- plugins
    commands = [
    Run UnsafeStdinReader
    , Run Cpu 
      [ "--template", "<action=alacritty --command btop> <total>%</action>"
      , "-L","10"
      , "-H","70"
      ,"--normal","#ffffff"
      ,"--high","red" 
      ] 5
    , Run MultiCpu [
      "--template", "<ipat>"
      , "--"
      , "--load-icon-pattern", "<icon=hbar_%%.xbm/>"
      ] 2
    , Run Memory 
      [ "--template" ,"<action=alacritty --command btop> <usedratio>%</action>"
      , "--Low"      , "20"        -- units: %
      , "--High"     , "60"        -- units: %
      , "--low"      , "white"
      , "--normal"   , "white"
      , "--high"     , "red"
      ] 5
    , Run Swap 
      ["--template", "<action=alacritty --command btop> <used>%</action>"] 5
    , Run Brightness 
      [ "--template", " <percent>%"
      , "--"
      , "-D", "/sys/class/backlight/intel_backlight"
      ] 5
    , Run Volume "pulse"  "Master" 
      [ "--template", "<action=/usr/bin/pavucontrol><status><volume>%</action>"
      , "--"
      , "-O", ""      -- Status On
      , "-o", " 婢"   -- Status Off
      , "-C", "white" -- Status On Color
      , "-c", "red"   -- Status Off Color
      , "-H", "130"   -- High threshold
      , "-L", "80"    -- Low threshold
      , "-h", ""     -- High string
      , "-m", "墳"    -- Medium string
      , "-l", ""     -- Low string
      ] 5
    , Run BatteryP ["BAT0"]
      [ "--template"
      , "<action=alacritty --command /usr/bin/sudo /usr/bin/powertop><acstatus> <left>%</action>"
      , "--"
      , "-L", "21"       -- Low threshold (percent)
      , "-H", "66"       -- High threshold (percent)
      , "-h", "#ffffff"  -- High color
      , "-m", "#ffffff"  -- Medium color
      , "-l", "red"      -- Low color
      , "--lows", ""    -- Bat low
      , "--mediums", "" -- Bat Medium
      , "--highs", ""   -- Bat low
      , "-i", "⏼"        -- Charged
      , "-O", "ﮣ"        -- A/C 'on'
      , "-o", "ﮤ"        -- Discharging
      ] 5
    , Run Com "/home/cderose/.xmonad/systraypad.sh" [] "traypad" 10
    , Run Date "%a %b %_d %H:%M" "date" 10
    ]
  }
