configuration {
  modi: "window,drun,ssh,combi";
  combi-modi: "window,drun,ssh";
  
  kb-remove-char-forward: "";
  kb-remove-to-sol: "";
  kb-clear-line: "";
  kb-remove-word-back: "Control-w";
  kb-cancel: "Escape";
  kb-accept-entry: "Return";
  kb-remove-to-eol: "";

  kb-page-next: "Control+d";
  kb-page-prev: "Control+u";
  kb-row-up: "Control-k";
  kb-row-down: "Control-j";
  kb-row-last: "Control+G";
  kb-row-first: "Control+g";
}
@theme "solarized"
