[Unit]
Description=Hyprpaper

[Service]
Type=simple
ExecStart="%h/bin/hypr-helper.py" "monitor"
Restart=always
TimeoutStartSec=5

[Install]
WantedBy=default.target
