[Unit]
Description=Hyprpaper

[Service]
Type=simple
ExecStart="%h/.config/hypr/hyprmonitor.py"
Restart=always
TimeoutStartSec=5

[Install]
WantedBy=default.target
